p{text-align: center;
				line-height: 2}

				#i1 {text-align: center;
					margin-bottom: 150px}

				p {font-family: 'Nanum Myeongjo', serif;}
				h3 {font-family: 'Nanum Myeongjo', serif;
				text-align: center;}
				span {font-family: 'Nanum Myeongjo', serif;}
				h2 {font-family: 'Nanum Myeongjo', serif;
					text-align: center;}

				#i2 {
					text-align: center;
					margin-top: 50px;
					margin-bottom:50px;
				}

				#i3 {margin-top: 50px;
					margin-bottom:50px;}

				#i4 {text-align: center;}
				#i5 {text-align: center;}

				#i6 {text-align: center;}